<!DOCTYPE html>
<html>
<head>
  <title>Trello Clone</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render partial: "layouts/header" %>
  <%= yield %>
</body>
</html>
